<a href="https://colab.research.google.com/github/akshaydayma/cp-2-practical/blob/main/NeenOpal_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Required libraries
import pandas as pd

In [ ]:
#import dataset 1
df1 = pd.read_csv('Book1.csv')

In [ ]:
df1.head()   #Print few top records in dataset1

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3
2  CA-2014-100090  OFF-BI-10001597    6
3  CA-2014-100293  OFF-PA-10000176    6
4  CA-2014-100328  OFF-BI-10000343    1

In [ ]:
# Import dataset 2
df2 = pd.read_csv("Book2.csv")

In [ ]:
df2.head()  # Print few top records in dataset 2

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

In [ ]:
df1['Unique_data1'] = df1['Order ID']+df1['Product ID']   
df1['Unique_data1'].head()

0    CA-2014-100006TEC-PH-10002075
1    CA-2014-100090FUR-TA-10003715
2    CA-2014-100090OFF-BI-10001597
3    CA-2014-100293OFF-PA-10000176
4    CA-2014-100328OFF-BI-10000343
Name: Unique_data1, dtype: object

In [ ]:
df2['Unique_data2'] = df2['Order ID']+df2['Product ID']
df2['Unique_data2'].head()

0    CA-2014-100090FUR-TA-10003715
1    CA-2014-100090OFF-BI-10001597
2    CA-2014-100293OFF-PA-10000176
3    CA-2014-100328OFF-BI-10000343
4    CA-2014-100363OFF-FA-10000611
Name: Unique_data2, dtype: object

In [ ]:
#Combining datasets
merge_data = df1.merge(df2, how='outer', left_on=['Unique_data1'], right_on=['Unique_data2'])
merge_data.head()

,Order ID_x,Product ID_x,Qty_x,Data1_Unique_ID,Unique_data1,Order ID_y,Product ID_y,Qty_y,Data2_Unique_ID,Unique_data2
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN,NaN
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090FUR-TA-10003715
2,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090OFF-BI-10001597
3,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293OFF-PA-10000176
4,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328OFF-BI-10000343

# 1) How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)

In [ ]:
#present in data1 but missing in data2 
Question_1 = merge_data[merge_data['Unique_data2'].isna()]
print(len(Question_1))

507

# How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [ ]:
# missing in data1 but present in data2
Question_2 = merge_data[merge_data['Unique_data1'].isna()]   #
print(len(Question_2))

508

# Find the Sum of the total Qty of Records missing in data1 but present in data2

In [ ]:
Question_2["Qty_y"].sum()

1956.0

# Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [ ]:
merge_data.shape[0]

9986